<div class="container" id="bottom-footer">
	<span>Copyright &copy; 2015 <a href="./" rel="Home">Katanium</a>. All Rights Reserved</span>
	<ul class="list-inline pull-right">
		<li><a href="/about">About</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/privacy-policy">Privacy Policy</a></li>
		<li><a href="/tos">Terms of Use</a></li>
		<li><a href="/contact">Contact Us</a></li>
	</ul>
</div>