<section id="pre-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="/public/images/full-logo.png" alt="Katanium Logo" width="150">
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<ul class="list-unstyled">
					<li>Tentang Kami</li>
					<li>Kontak</li>
					<li>FAQ</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<ul class="list-unstyled">
					<li>Ketentuan Penggunaan</li>
					<li>Privasi</li>
					<li><a href="http://www.katanium.com/blog" title="Blog">Blog</a></li>
				</ul>
			</div>
			<div class="col-md-3 hidden-sm"></div>
			<div class="col-md-3 col-sm-4">
				<div class="pull-right">
					<h4>Follow Us</h4>
					<ul class="list-inline">
						<li><a href="http://twitter.com/katanium"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a href="http://facebook.com/Katanium"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a href="https://plus.google.com/+Katanium/about"><i class="fa fa-fw fa-google-plus"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
