{% extends 'errors/error_template.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

<main id="main-container">
	<div id="fragment" class="error">
		<div class="container">
			<div class="error-404 text-center">
				<h1>404</h1>
				<p>Sorry, the page you are looking for doesn't exist. Thanks for noticing - we're going to fix it up and have things back to normal soon</p>
				<br>
				<button class="btn btn-primary btn-border rounded">Back to Katanium</button>
			</div>
		</div>
	</div>
</main>

{% endblock %}
